@font-face {
  font-family: "Maplestory_Bold";
  src: url("@fonts/Maplestory_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maplestory_Light";
  src: url("@fonts/Maplestory_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maplestory_OTF_Bold";
  src: url("@fonts/Maplestory_OTF_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maplestory_OTF_Light";
  src: url("@fonts/Maplestory_OTF_Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-bg-color: #1d2527;
  --secondary-bg-color: #283338;
  --main-border-color: #777;
  --custom-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  margin: 0;
  font-family: "Maplestory_Light", "Maplestory_OTF_Light", -apple-system, "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color);
  color: #fff;
  line-height: 1.1rem;
}

button {
  font-family: "Maplestory_Light", "Maplestory_OTF_Light", -apple-system, "Segoe UI", "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
